{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h4> Bem-Vindo, {{ usuario.cn }} </h4>
{% load staticfiles %}
<link rel='stylesheet' type='text/css' href="{% static 'css/base.css' %}" />

{% if not flagAluno %}
	<center><a href="/criatrab/"> Criar trabalho</center></a>

	<h2>Seus Trabalhos</h2>

	<table>

		<thread>
			<th>Trabalho</th>
			<th>Estado</th>
			<th>Estados</th>
			<th>KeyCode</th>
			<th>Trabalhos</th>
			<th>Ação</th>
		</thread>

		{% for i in trabalhos %}
			{% if not i.removido %}
				<tr>
					<td align="center" valign="middle"><a href="/trabalho/{{ i.id }}"> <input type="button" name="t{{ i.id }}" value="{{ i.nome }}"/></td>

					<td align="center" valign="middle"> {{ i.status }}</td>
					{% if i.status == "Não enviado" or i.status == "Em execução" %}
						<form action = "." method="post"> {% csrf_token %}
						{% if i.status == "Não enviado" %}
							<td> <input type="submit" name="{{ i.id }}" value="Submeter"/></a></td>
							<td> </td>
							<td> </td>
						{% else %}
							{% if i.status == "Em execução" %}
								<td><input type="submit" name="{{ i.id }}" value="Encerrar"/></td>
								<td><font color="red">{{ i.password }}</font></td>
								<td></td>
							{% endif %}
						{% endif %}
					{% else %}
						<td> </td>
						<td> </td>
						<td><a href="/recebidos/{{ i.id }}"><input type="button" name="r{{ i.id }}" value="Recebidos"/></td>
						</form>

					{% endif %}
					<form action = "." method="post"> {% csrf_token %}
					<td> <input type="submit" name = "remover {{ i.id }}" value="remover"/><td>
					</form>
				</tr>
			{% 	endif %}
		{% endfor %}
	</table>

{% else %}
	<p>&nbsp;</p>
	<h2>Trabalhos para fazer</h2>

	<table>

		<thread>
			<th>Trabalho</th>
			<th>Professor</th>
			<th>Turma</th>
			<th>KeyCode</th>
			<th>Enviado</th>
		</thread>


	{% for i in trabalhos %}
		{% if not i.removido %}
			<tr>
				<td>
					<form action = "."	method="post"> {% csrf_token %}
					<p><input type="submit" name= "submit {{ i.id }}"  value="{{ i.nome }}"></p>
				</td>

				<td>
					{{ i.nomeProfessor }}
				</td>

				<td>
					{{ i.turma }}
				</td>

				<td>
					<input type="text" name="keycode {{ i.id }}" required="required"/>
					</form>
				</td>

				<td>
					{% if i in keysubmissao %}
						<img src="{% static "yes.png" %}"/>
					{% else %}
						<img src="{% static "no.png" %}"/>
					{% endif %}
				</td>
			 </tr> 
		{% endif %}

	{% endfor %}

	</table>

{% endif %}


<br><br><br>

<a href="/logout/"> Logout </a>

{% endblock %}
